<h2 class="signup">Inloggen</h2>
<div class="loginform">

  <form action="/login" method="POST">
  <div class="fields">
    <label for="username">Gebruikersnaam:</label>
    <input class= "field" type="text" name="username">
    <label for="password">Wachtwoord:</label>
    <input type="password" name="password" class="field">
  </div>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button class="submitbutton" type="submit" value="Inloggen">Inloggen</button>
    <p>OR</p>
    <div id="google">
      <button class="submitbutton"><a id="glink" href="/auth/google">Inloggen met Google</a></button>
    </div>
    </form>


{{!-- 
    <div class="dropdown-menu">
      <form class=action="/login" method="POST">
        <div class="form-group">
          <label for="username">Gebruikersnaam:</label>
          <input type="text" name="username">
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord:</label>
          <input type="password" name="password">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">New around here? Sign up</a>
      <a class="dropdown-item" href="#">Forgot password?</a>
    </div> --}}

</div>