{{!-- <h2 class="signup">Aanmelden</h2> --}}
<div class='background'>

<div class="loginform">

  {{!-- because this page is used as Home page we should  both deal with a user that is logged in and one that is not --}}
  {{#if user}}

    <button class="submitbutton"><a id="glink" href="/afmelden">Afmelden</a></div></button>

  {{else}}

    {{!-- signup determines whether or not this is supposedly a sign up (or alternatively a login) --}}
    <form id='login-or-signup-form' action={{#if signup}}"/signup"{{else}}"/login"{{/if}} method="POST">

      <div class="fields">
        
        <label for="username">Gebruikersnaam:</label>
        <input type="text" name="username" class= "field" placeholder="">
        
        <label for="password">Wachtwoord:</label>
        <input type="password" name="password" class="field" placeholder="">

        {{#if message}}<div class="error-message">{{message}}</div>{{/if}}

        {{!-- to allow both sign up and log in in this form we add a checkbox that the user can check if this is the first log in unchecked by default!!!!! --}}
        {{!-- by rendering with signup either set to "" or " checked" we can determine whether or not the checkbox should be checked or not --}}
        {{!-- <label class='checkbox-label'><input type="checkbox" onclick="firsttimeFlagChangeHandler()" id='firsttime-flag-checkbox' {{#if signup}} checked{{/if}}>De eerste keer</label> --}}
        
        <!-- replaced by bootstrap checkbox -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" onclick="firsttimeFlagChangeHandler()" class="custom-control-input" id="firsttime-flag-checkbox" {{#if signup}} checked{{/if}}>
            <label class="custom-control-label" for="firsttime-flag-checkbox">De eerste keer</label>
        </div>

        <script>function firsttimeFlagChangeHandler(event){document.getElementById('login-or-signup-form').action=(document.getElementById('firsttime-flag-checkbox').checked?"/signup":"/login");}</script>
      
      </div>

      <button class="submitbutton" type="submit" value="Inloggen">Aanmelden</button>

      <p>of</p>

      {{!-- MDH@13FEB2020: originally this linked was wrapped in a button but forgot which one --}}
      <div id="google"><button class="submitbutton"><a id="glink" href="/auth/google">Aanmelden met Google</a></button></div>

    </form>
  {{/if}}

{{!-- 
    <div class="dropdown-menu">
      <form class=action="/login" method="POST">
        <div class="form-group">
          <label for="username">Gebruikersnaam:</label>
          <input type="text" name="username">
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord:</label>
          <input type="password" name="password">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">New around here? Sign up</a>
      <a class="dropdown-item" href="#">Forgot password?</a>
    </div> --}}

</div>

</div>