<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Opties</h4>
          <ul class="list-unstyled">
            {{#if username}}<li><a href="/spelen">{{title}} nu</a></li>{{/if}}
            <li><a href="#">Contact</a></li>
            <li><a href="#">Regels</a></li>
            <li><a href="#">Nieuws</a></li>
            <li><a href="#">Veel gestelde vragen</a></li>
          </ul>
        </div>
      </div>
      {{!-- <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Over {{title}}</h4>
          <ul class="list-unstyled">
            <li><a href="#">Website Tutorial</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Webmaster</a></li>
          </ul>
        </div>
      </div> --}}
      {{!-- <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Afdelingen</h4>
          <ul class="list-unstyled">
            <li><a href="#">Animatie</a></li>
            <li><a href="#">Overtreffen</a></li>
            <li><a href="#">Kunst Afdeling</a></li>
            <li><a href="#">Ontwikkeling</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div> --}}
    	<div class="col-md-3">
    		<h4>Volg ons</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - {{title}} - Het spel.  Alle rechten voorbehouden.</p>
		</div>
	</div>


  </div>
  </div>
</footer>
  