    <header>
        {{!-- if the dashboard flag we're showing a menu on the right-hand side  --}}
        {{title}}{{#if route}}: {{route}}{{/if}}
        {{#if dashboard}}
            <div class='menu'>
                <a href='/spelen'>Spelen</a>
                <a href='/afmelden'>Afmelden</a>
            </div>
        {{/if}}
    </header>