<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><!-- we'll be needing this!! -->
    <title>Test Rikken</title>
  </head>
  <body>
      <p>Instruction: Hold down the Command (Mac) or Control (Windows) key and click each of the links.</p>
      <div><a href='/gameplaying?player=A'>{{__ 'Speler'}} A</a></div>
      <div><a href='/gameplaying?player=B'>{{__ 'Speler'}} B</a></div>
      <div><a href='/gameplaying?player=C'>{{__ 'Speler'}} C</a></div>
      <div><a href='/gameplaying?player=D'>{{__ 'Speler'}} D</a></div>
  </body>
</html>
