<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><!-- we'll be needing this!! -->
    <title>{{title}} by Marc de Hoogh</title>
  </head>
  <body>
      <h1>Background</h1>
      <p>I played {{title}} a lot when I was young, in particular with family.</p>
      <p>I remember that there used to be an online version at some point written by members of HCC, but can't seem to find one anymore.</p>
      <p>Therefore I started on it in the first and second project as part of the Web Developer Bootcamp at Ironhack Amsterdam in which I participated for 45 days starting at 18 November 2019 through 31 January 2020.</p>
      <p>The first version was pure HTML and can be considered a demo version only meaningful for exercising as one has to play all hands themselves. It is available at <a href='https://mdh-rikken-the-game.herokuapp.com'>Heroku - Rikken Demo</a>.</p>
      <p>The five working days was not sufficient to make it work, even for an experienced programmer like me; it took me about ten working days.</p>
      <p>A chance to create a truely functioning version that could be played by separate players at different locations came at the start of January 2020 when the second project was due, where we learned to use Express and NodeJS and the Handlebars view engine with it.</p>
      <p>Being able to play {{title}} this way required me to learn using the socket.io library for communicating between the player and the central game server that manages playing all the games. That was no easy feat because the connections seem to get lost regularly. Still no expert on socket.io I did manage to get it to work, well, on my own laptop that is.</p>
      <p>So, with all the stress it gave me to try to finish this in one week, and the stress of having to co-operate on this with another student, Hannah, well, I should have, but I was too occupied trying to get it to work in the first place that not much was communicated at all. So every week I promised the teacher to finish it by next Monday. In general that's a bad idea, because the homefront wasn't too pleased with me trying to work on the project the entire weekend as well...</p>
      <p>So, weeks went by. Now we're at the end of the bootcamp, and the game is more or less presentable. Just a couple of little things left to do (like merging with Hannah's handywork). For now it is presentable; use the link below that will take you to a page where you can pretend to be one (or four) of the course Ironhackers and play a game. I can't guarantee just yet that you can play more than one game in a row but one should be Ok (after that you can close all windows and try again, that should be Ok). If you want to tell me what you think about it, you can <a href='mailto:m.p.a.j.dehoogh@tudelft.nl?subject=How I feel about your Rikken implementation...'>drop me a line</a>.</p>
      <p>Well the final project is still waiting for me to finish (more or less) in the next four days, so see you around (or not).</p>
      <h2>Test at your own risk</h2>
      <a href='/ironhackers'>Ironhackers Amsterdam Web Development Bootcamp Competition</a>
   </body>
</html>