<div style="background:rgba(255,255,255,0.8)">
    <p>Rikken is een kaartspel voor vier personen dat met name in het zuiden van Nederland - onder de grote rivieren - gespeeld wordt.</p>
    <p>Als kind heb ik het vaak in familieverband gespeeld.</p>
    <p>De Web Developer Bootcamp die ik bij Ironhack in Amsterdam onlangs heb voltooid was een geschikt moment om een online versie van Rikken te maken.</p>
    <p>Op dit moment is het verre van af; ik verzoek U dan ook melding te maken van welke problemen dan ook die U ervaart in het gebruik ervan.</p>
    <p>Hoogachtend, Marc de Hoogh</p>
    <p>Delft, 20 Februari 2020</p>
</div>