<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><!-- we'll be needing this!! -->
    <title>Rikken</title>
    <link rel='stylesheet' href='./stylesheets/mdhrikkenthegame.css' />
  </head>
  <body>
    <!-- will this work?????? -->
    <div>
        <div class='play-header'>
            <!-- don't make it a title because that would increase the font -->
            U speelt <span id='game-name'>?</span> als <span class='player-name'>?</span>.
            <!-- a single Help button in the play header!!! -->
            <input type='button' id="help-button" class='help' value='Help'>
        </div>
    </div>
    <div id='communication'>
        <!-- MDH@31JAN2020: we can put a single button here that can be used to (re)send stuff to the server -->
        <span>&nbsp;</span>
        <div id='receive-message'>
            <span id='info-source' placeholder='Zender'></span>:&nbsp;
            <span id='info' placeholder='Ontvangen berichten wordt hier getoond'></span>
        </div>
        <div id='send-message'>
            <input id='send-message-button' type='button' value='Verstuur'/>
            <input id='send-message-text' type='text' size='20'>
        </div>
    </div>
    <script src='./javascripts/info.js'></script>

    <!-- DEMO VERSION BODY -->
    <!-- these are the pages from index.hbs (and from the original index.html) -->
    <div class='pages'>
        <!-- we have different 'pages' depending on where we are in the game -->
        <div id='page-rules' class='page'>
            <div class='page-header'>
                <p class='page-title'>Spelregels</p>
                <div class="page-button-group">
                    <!-- changed from a next to a back button -->
                    <input type='button' class="back" value='Klaar'/>
                </div>
            </div>
            <div>
                <ol>
                    <li>{{__ 'The Game'}}</li>
                    <li>Rikken wordt gespeeld door vier spelers met &eacute;&eacute;n spel kaarten.</li>
                    <li>Elk spel staat op zich. Alleen de deler (en de volgorde van de te verdelen kaarten) veranderd.</li>
                    <li>Bij aanvang van elk afzonderlijk spel worden de kaarten door een van de spelers (de deler) geschud en gedeeld.</li>
                    <li>Het is gebruikelijk om bij het schudden te beginnen met de stapel van slagen uit het vorige spel; vervolgens een (gering) aantal keren twee delen (van een wisselend aantal kaarten) om te wisselen.</li>
                    <li>De deler geeft eerst alle spelers zeven opeenvolgende kaarten, daarna zes, beginnende met de speler links, en met de klok mee.</li>
                    <li>Nadat alle kaarten gedeeld zijn begint het bieden, ook weer met de wijzers van de klok mee, te beginnen bij de speler links van de deler.</li>
                    <li>Rikken kent een aantal spelvarianten die per regio verschillen, meestal met betrekking tot de te spelen spelsoorten.</li>
                    <li>De meest voorkomende spelvariant is het 'rikken', hierbij moet een speler samen met een andere speler (minstens) acht slagen halen waarbij een bepaalde kleur troef is. Ziet een speler die mag bieden hiertoe kans dan zegt deze 'Ik rik'.</li>
                    <li>De troefkleur hoeft hij pas bekend te maken op het moment dat dit bod het hoogste blijkt te zijn.</li>
                    <li>Zodra een speler geen bod meer wil uitbrengen, pas deze, en mag daarna ook niet meer aan het bieden deelnemen.</li>
                    <li>Zodra na een bod alle drie andere spelers passen, is dat bod aangenomen en kan het bijbehorende spel worden gespeeld.</li>
                    <li>Er is echter een uitzondering in de door mij gekozen spelvariant: wanneer een van de speler drie azen heeft, dient hij dit bekend te maken en wordt er verplicht 'troela' gespeeld. De speler die de resterende vierde aas in zijn bezit heeft wordt de partner van de speler die 'troela' heeft, en de kleur van de vierde aas wordt troef. Dit kan uiteraard ongunstig uitpakken! Troela is de enige spelvariant waarbij de speler met de vierde aas moet uitkomen, in alle andere gevallen is dat de speler links van de deler.</li>
                    <li>Wanneer geen sprake is van troela, kan er dus worden geboden. Wanneer alle vier spelers passen, kan om 'schoppen vrouw en de laatste slag' worden gespeeld. Dit houdt in dat diegene die de schoppen vrouw ophaalt en/of de laatste slag verliest. Het staat eenieder vrij om hiervan af te wijken b.v. door de kaarten weer in te nemen en opnieuw te schudden en te delen.</li>
                    <li>Er zijn twee spelvarianten waarbij precies nul of een slag moet worden gehaald. Deze spelvarianten staan het toe dat meerdere spelers datzelfde proberen te doen. Ieder speelt dan voor zich.</li>
                    <li>Naast deze twee spelvarianten die ieder voor zich speelt, kan een speler ook in zijn eentje rikken, d.w.z. met troef een minimaal aantal slagen (meer dan acht) in zijn eentje halen. Er is dan dus geen partner.</li>
                    <li>Voor alle rikvarianten (dus met troef) geldt dat rikken met harten als troefkleur een hoger bod is. Rikt iemand dus zonder troefkleur te vermelden dan mag een volgende speler die nog mag bieden hetzelfde bod doen maar dan aangeven dat beter (d.w.z. met harten als troefkleur) te willen doen. Daarna kan de ander dat dan niet meer doen, ook al had ie zelf ook in de harten willen rikken. Het is echter zo dat je niet gelijk beter mag rikken.</li>
                    <li>Zodra niemand nog een hoger bod wil of kan doen, dus wanneer drie achtereenvolgende speler gepast hebben, kan het spel gespeeld worden.</li>
                    <li>De speler links van de deler (tenzij het troela is), komt uit en legt een te spelen kaart open op tafel. De kleur van deze eerste kaart van een slag bepaalt de kleur die ook door de volgende spelers moet worden opgegooid mits zij kaarten van die kleur bezitten. Als een speler dus geen kaarten van deze kleur bezit, kan die speler elke willekeurige kaart bijspelen, en kan dan dus een slag in een niet-troefkleur met troef 'aftroeven': immers, kaarten in de troefkleur zijn hoger dan andere kaarten. Aftroeven is overigens niet verplicht!</li>
                    <li>Hebben alle vier spelers een kaart opgegooid, dan is de slag af en kan de speler die de slag gewonnen heeft deze van tafel pakken en dicht voor zich neerleggen. In de regel mag daarna alleen nog de laatste slag nog ingezien worden.</li>
                    <li>Wanneer gerikt wordt kiest de rikker een partner door aan te geven welke aas die speler moet hebben. Echter als de rikker alle azen heeft moet een heer meegevraagd worden. Overigens, troefaas mag nooit meegevraagd worden, wel moet een aas meegevraagd worden als dit kan zelfs als de rikker die kleur niet heeft. Speelt de rikker tijdens het spel als eerste in de slag een kaart van de meegevraagde kleur dan 'vraagt' hij/zij de meegevraagde aas of heer, d.w.z. die moet dan in die slag vallen, tenminste als dat nog mogelijk is natuurlijk. Kan de rikker de aas niet meer vragen met de meegevraagde kleur, dan mag hij/zij dit ook blind doen. Daartoe legt hij/zij een andere kaart dicht op tafel, en zegt de aas/heer te vragen. De slag waarin de meegevraagde aas/heer wordt gevraagd, mag niet worden afgetroefd. Misschien is het niet helemaal duidelijk als iemand niet anders kan dan troeven, namelijk als die speler geen andere kleur meer heeft. Dit zal in de regel zelden voorkomen.</li>
                    <li>De rang van de spelvarianten d.w.z. die bepaald welke spelvariant voorrang heeft om gespeeld te worden kan ook per regio verschillen. In deze applicatie is de volgorde: rik, rik beter, negen alleen, pico, tien alleen, elf alleen, mis&egrave;re, twaalf alleen, open mis&egrave;re, dertien alleen en tenslotte open mis&egrave;re met een praatje.</li>
                    <li>Bij open mis&egrave;re geeft een speler aan geen slagen te willen halen, maar mogen alle kaarten open na de vijfde kaart (de eerste kaart van de tweede slag).</li>
                    <li>Bij open mis&egrave;re met een praatje mag er daarbij ook overlegd worden door de overige spelers.</li>
                    <li>Rikken kan ook met punten en/of geld gespeeld worden. Bij winst ontvangt men punten/geld, bij verlies kost dit punten/geld. Gewoonlijk is de eenheidsmunt de munt met de laagste waarde, nu zou dat 5 Eurocent zijn.</li>
                    <li>Haalt men acht slagen bij rikken dan levert dat de rikker en zijn partner elk een (p/m)unt van de andere twee spelers op. Elke slag extra ook een (p/m)unt extra. Bij troela een extra (p/m)unt.</li>
                    <li>Pico halen levert vier punten/munten op. Bij pico nul of twee slagen halen kost vier (p/m)unten. Elke extra slag een extra (p/m)unt.</li>
                    <li>mis&egrave;re halen levert vijf punten/munten op. De eerste slag kost vijf (p/m)unten, elke extra slag een extra (p/m)unt.</li>
                    <li>Rikken alleen levert bij negen 2 punten/munten op, bij tien alleen 3 (p/m)unten op enzovoorts. Ook hier weer een extra (p/m)unt per overslag. Bij verlies met een slag ook dit aantal (p/m)unten 'betalen'. Elke extra 'onderrslag' een extra (p/m)unt. Speel je alleen dan moet je wel drie andere spelers betalen, dus dat kan flink oplopen!</li>
                    <li>Dertien slagen alleen halen levert in de regel tien (p/m)unten op, ook tien (p/m)unten bij een slag minder, en weer een extra (p/m)unt bij elke onderslag.</li>
                    <li>Schoppen vrouw en/of de laatste slag kost gewoonlijk vier (p/m)unten die je dus aan de drie andere spelers moet uitbetalen.</li>
                    <li>Open mis&egrave;re en open mis&egrave;re met een praatje leveren zes resp. zeven (p/m)unten op.</li>
                    <li>Uiteraard staat het eenieder vrij andere puntentellingen te hanteren. Een aantal keuzes kan in de instellingen worden opgegeven.</li>
                </ol>
            </div>
        </div>
        <!-- page-settings replaced by page-help -->
        <div id='page-help' class='page'>
            <div class='page-header'>
                <p class='page-title'>Help</p>
                <div class="page-button-group">
                    <input type='button' class="back" value='Terug'>
                </div>
            </div>
            <div>
                <!-- TODO what are we going to show here????? -->
            </div>
        </div>
        <!-- on page-auth a standalone player (non-demo mode) enters his/her name (like logging in) -->
        <!-- which is identifiable with the undefined data-player-id -->
        <div id='page-auth' class='page'>
            <div class='page-header'>
                <p class='page-title'>Aanmelden</p>
                <div class="page-button-group">
                    <input type='button' class="cancel" value='Terug'/>
                    <input type='button' id='single-player-game-button' value='Speel'/>
                </div>
            </div>
            <div class='player-name-input'>
                Ik speel als&nbsp;
                <input id='single-player-name' data-player-id='' type='text' size='30' placeholder='Uw spelernaam'/>
            </div>
        </div>
        <div id='page-wait-for-players' class='page'>
            <div class='page-header'>
                <p class='page-title'>Spelers</p>
                <div class="page-button-group">
                    <input type='button' class="stop" value='Stoppen met spelen'/>
                </div>
            </div>
            <!-- now in header... <div>Spel id: <span id='game-id'></span></div> -->
            <div class='game-player'>Speler 1:&nbsp;<span class='game-player-name' data-player-index='0'>Naam van speler 1</span></div>
            <div class='game-player'>Speler 2:&nbsp;<span class='game-player-name' data-player-index='1'>Naam van speler 2</span></div>
            <div class='game-player'>Speler 3:&nbsp;<span class='game-player-name' data-player-index='2'>Naam van speler 3</span></div>
            <div class='game-player'>Speler 4:&nbsp;<span class='game-player-name' data-player-index='3'>Naam van speler 4</span></div>
        </div>
        <div id='page-bidding' class='page'>
            <div class='page-header'>
                <p class='page-title'>Bieden</p>
                <div class="page-button-group">
                    {{!-- <input type='button' class="cancel-game" value='Afbreken'> --}}
                    {{!-- <input type='button' class="next" value='Klaar'> --}}
                </div>
            </div>
            <!-- current player -->
            <div id='bid-info'></div>
            <div id='bidding'>
                {{!-- <div class='prompt'>Wat wil je spelen?</div> --}}
                {{!-- all the possible bids will be buttons one can click --}}
                <div class='bid-buttons'>
                    <input type='button' data-bid='0' class='bid pas' value='Pas'/>
                    <input type='button' data-bid='1' class='bid rik' value='Rik'/>
                    <input type='button' data-bid='2' class='bid rik' value='Rik (beter)'/>
                    <input type='button' data-bid='3' class='bid solitary' value='Negen alleen'/>
                    <input type='button' data-bid='4' class='bid solitary' value='Negen alleen (beter)'/>
                    <input type='button' data-bid='5' class='bid solitary' value='Pico'/>
                    <input type='button' data-bid='6' class='bid solitary' value='Tien alleen'/>
                    <input type='button' data-bid='7' class='bid solitary' value='Tien alleen (beter)'/>
                    <input type='button' data-bid='8' class='bid solitary' value='Elf alleen'/>
                    <input type='button' data-bid='9' class='bid solitary' value='Elf alleen (beter)'/>
                    <input type='button' data-bid='10' class='bid solitary' value='Mis&egrave;re'/>
                    <input type='button' data-bid='11' class='bid solitary' value='Twaalf alleen'/>
                    <input type='button' data-bid='12' class='bid solitary' value='Twaalf alleen (beter)'/>
                    <input type='button' data-bid='13' class='bid solitary' value='Open mis&egrave;re'/>
                    <input type='button' data-bid='14' class='bid solitary' value='Dertien alleen'/>
                    <input type='button' data-bid='15' class='bid solitary' value='Dertien alleen (beter)'/>
                    <input type='button' data-bid='16' class='bid solitary' value='Open mis&egrave;re met een praatje'/>
                </div>
            </div>
            <!-- show the the bids so far by the other players -->
            <div class='bids'>
                <div>Geboden tot nu toe:</div>
                <div>
                    <table id='bids-table'>
                        <thead>
                            <tr>
                                <th align='right'>Speler</th>
                                <!-- headers to show the bid index -->
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- maximum number of bids equal the number of bids divided by two players i.e. 8) -->
                            <tr><td align='right'></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></tdn></tr>
                            <tr><td align='right'></td><td></td><td></td><td></td><td></td><td></td><td></tdn><td></td><td></td></tr>
                            <tr><td align='right'></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td align='right'></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- the cards of the current player (made visible on request) -->
            <!-- now turned into a 'collapsable' (see w3schools) -->
            <button type="button" id="bidder-suitecards-button" value="0"  class='collapsing-button active-button' data-collapsible='bidder-suitecards-table'>Kaarten</button>
            <div id='bidder-suitecards-table' class='collapsible'>
                <div class='diamond suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='club suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='heart suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='spade suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
            </div>
        </div>
        <div id='page-trump-choosing' class='page'>
            <div class='page-header'>
                <p class='page-title'>Troefkleur kiezen</p>
                <div class="page-button-group">
                    {{!-- <button class="cancel-game">Afbreken</button> --}}
                </div>
            </div>
            <!-- ask for the trump suite comes first -->
            <div id='trump-suite-input'>
                <div>Wat is de troefkleur?</div>
                <!-- four suites to choose from -->
                <div id='trump-suite-buttons'>
                    <input type='button' data-suite='0' class='diamond suite bid-trump' value='\u2666'/>
                    <input type='button' data-suite='1' class='club suite bid-trump' value='\u2663'/>
                    <input type='button' data-suite='2' class='heart suite bid-trump' value='\u2665'/>
                    <input type='button' data-suite='3' class='spade suite bid-trump' value='\u2660'/>
                </div>
            </div>
            <button type="button" value="0" class='collapsing-button active-button' data-collapsible='trump-suitecards-table'>Kaarten</button>
            <div id='trump-suitecards-table' class='collapsible'>
                <div class='diamond suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='club suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='heart suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='spade suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>         
            </div>
        </div>
        <div id='page-partner-choosing' class='page'>
            <div class='page-header'>
                <p class='page-title'>Aas of heer meevragen</p>
                <div class="page-button-group">
                    {{!-- <input type='button' class="cancel-game" value='Afbreken'> --}}
                </div>
            </div>
            <!-- ask for the trump suite comes first -->
            <!-- at most eight cards to choose from -->
            <!-- but either an ace or a king (never both) -->
            <div id='partner-suite-input'>
                <div>Welke <span class='partner-rank'></span> vraag je mee?</div>
                <div id='partner-suite-buttons'>
                    <input type='button' data-suite='0' class='diamond suite bid-partner' value='\u2666'/>
                    <input type='button' data-suite='1' class='club suite bid-partner' value='\u2663'/>
                    <input type='button' data-suite='2' class='heart suite bid-partner' value='\u2665'/>
                    <input type='button' data-suite='3' class='spade suite bid-partner' value='\u2660'/>
                </div>
            </div>
            <button type="button" value="0" class='collapsing-button active-button' data-collapsible='partner-suitecards-table'>Kaarten</button>
            <div id='partner-suitecards-table' class='collapsible'>
                <div class='diamond suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='club suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='heart suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
                <div class='spade suite-cards'>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                    <span class='card-text'></span>
                </div>
            </div>
        </div>
        <div id='page-play-reporting' class='page'>
            {{!-- this page is not being used anymore --}}
            <div class='page-header'>
                <p class='page-title'>Te spelen</p>
                <div class="page-button-group">
                    <input type='button' class="cancel-game" value='Afbreken'/>
                    <input type='button' class="next" value='Gelezen'/>
                </div>
            </div>
        </div>
        <div id='page-playing' class='page'>
            <div class='page-header'>
                <p class='page-title'>Spelen</p>
                <div class="page-button-group">
                    {{!-- <input type='button' class="cancel-game" value='Afbreken'> --}}
                    {{!-- <input type='button' class="next" value='Klaar'> --}}
                </div>
            </div>
            <p id='game-info'></p>
            <!-- number of tricks won so far -->
            <div>Aantal gehaalde slagen: <span id='tricks-won-so-far'>?</span>.</div>
            <div>Aantal te halen slagen: <span id='tricks-to-win'>?</span>.</div>
            <!-- showing the current trick (so far) -->
            {{!-- <div id='trick-info'>
                <!-- information on the suite being played in the current trick -->
                <div id='play-suite'></div>
            </div> --}}
            <!-- current player -->
            <div id='play-input'>
                <div id='playing'>
                    <div id='asking-for-partner-card-info'></div>
                    <div id='play-card-prompt'></div>
                    <div id='ask-partner-card' class='partner-card'>
                        <!-- a player can ask for the ace blind -->
                        <input type="checkbox" id='ask-partner-card-checkbox'/><span>De&nbsp;<span class='partner-suite'></span>&nbsp;<span class='partner-rank'></span>&nbsp;<span id='ask-partner-card-blind'></span>vragen</span>
                    </div>
                    <!-- showing the cards of the current player as buttons-->
                    <button type="button" value="0"  class='collapsing-button active-button' data-collapsible='player-suitecards-table'>Kaarten</button>
                    <div id='player-suitecards-table' class='collapsible'>
                        <div class='diamond suite-cards'>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='0'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='1'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='2'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='3'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='4'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='5'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='6'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='7'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='8'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='9'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='10'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='11'></span>
                            <span class='playable card-text' data-suite-id='0' data-suite-index='12'></span>
                        </div>
                        <div class='club suite-cards'>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='0'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='1'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='2'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='3'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='4'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='5'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='6'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='7'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='8'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='9'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='10'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='11'></span>
                            <span class='playable card-text' data-suite-id='1' data-suite-index='12'></span>
                        </div>
                        <div class='heart suite-cards'>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='0'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='1'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='2'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='3'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='4'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='5'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='6'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='7'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='8'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='9'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='10'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='11'></span>
                            <span class='playable card-text' data-suite-id='2' data-suite-index='12'></span>
                        </div>
                        <div class='spade suite-cards'>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='0'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='1'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='2'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='3'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='4'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='5'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='6'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='7'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='8'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='9'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='10'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='11'></span>
                            <span class='playable card-text' data-suite-id='3' data-suite-index='12'></span>
                        </div>            
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class='trick-cards'>
                <div id='trick-id'></div>
                <div>
                    <!-- showing trick information when a new trick is received!!!! -->
                    <table id='trick-cards-table'>
                        <tbody>
                            <tr><td></td><td></td><td id='opposite-player-name' class='player'></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td id='opposite-player-card' data-suite-id='0' class='card-text diamond'></td><td></td><td></td></tr>
                            <tr><td id='lefthandside-player-name' class='player'></td><td id='lefthandside-player-card' data-suite-id='0' class='card-text diamond'></td><td></td><td id='righthandside-player-card' data-suite-id='0' class='card-text diamond'></td><td id='righthandside-player-name' class='player'></td></tr>
                            <tr><td></td><td></td><td id='current-player-card' data-suite-id='0' class='card-text diamond'></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td id='current-player-name' class='player-name player'></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
                {{!-- <span class='trick card' data-trick-index='0'></span>
                <span class='trick card' data-trick-index='1'></span>
                <span class='trick card' data-trick-index='2'></span>
                <span class='trick card' data-trick-index='3'></span> --}}
            </div>
            <div class="separator"></div>
            <div class='tricks-played'>
                <table class='tricks-played-table'>
                    <thead>
                        <tr>
                            <th>Slag</th><th colspan='2'>Speler 1</th><th colspan='2'>Speler 2</th><th colspan='2'>Speler 3</th><th colspan='2'>Speler 4</th><th>Gewonnen door</th><th>Aantal slagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id='page-finished' class='page'>
            <div class='page-header'>
                <p class='page-title'>Spelresultaat</p>
                <div class="page-button-group">
                    <input type='button' value='Stoppen' class='stop'/>
                    <input type='button' value='Nog eens' class='new-game'/>
                </div>
            </div>
            <!-- information on the result of the game -->
            <div id='player-results'>
                <table id='player-results-table'>
                    <thead>
                        <tr>
                            <th>Speler</th><th>Slagen</th><th>Punten</th><th>Puntentotaal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-player-index='0'><td>1</td><td>0</td><td>0</td><td>0</td></tr>
                        <tr data-player-index='1'><td>2</td><td>0</td><td>0</td><td>0</td></tr>
                        <tr data-player-index='2'><td>3</td><td>0</td><td>0</td><td>0</td></tr>
                        <tr data-player-index='3'><td>4</td><td>0</td><td>0</td><td>0</td></tr>
                    </tbody>
                </table>
            </div>
            <!-- the number of tricks won by each of the players e.g. -->
            <!-- which is a list of 13 tricks -->
            <div class='tricks'>
                <table class='tricks-played-table'>
                    <thead>
                        <tr>
                            <th>Slag</th><th colspan='2'>Speler 1</th><th colspan='2'>Speler 2</th><th colspan='2'>Speler 3</th><th colspan='2'>Speler 4</th><th>Gewonnen door</th><th>Aantal slagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td class='card-text'><td></td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td class='card-text'></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END DEMO VERSION BODY -->

    <!-- link socket.io-client script from the server -->
    <script src='/socket.io/socket.io.js'></script>
    <script src='./javascripts/gameplaying.js'></script>
    {{! if we have a username use it immediately }}
    {{#if username}}<script>setPlayerName("{{username}}");</script>{{/if}}
  </body>
</html>
