<div class="spacer"></div>

<div class="jumbotron">
  {{!--replacing: <h1 class="display-4">{{title}}, het spel!</h1>
  <p class="lead">{{title}} online spelen nu mogelijk!</p>
  <hr class="my-4"> --}}
  {{!-- if a user name is known the user is logged in and should be allowed to log out obviously, if not a user should be allowed to log in --}}
  <div>
    {{#if user}}
      <a href='/afmelden'>Afmelden</a>
      <p><a href='/profiel'>Verder spelen</a></p>
    {{else}}
      <p>Zodra je bent ingeschreven, kun je je aanmelden om te spelen.</p>
      <a href='/aanmelden'>Aanmelden</a>
      <p><a class="btn btn-primary btn-lg" href="/inschrijven" role="button">Inschrijven</a></p>
    {{/if}}
  </div>
</div>
{{!-- moved over to layout.hbs: {{> footer}} --}}