<div class="spacer"></div>

<div class="jumbotron">
  <h1 class="display-4">{{title}}, het spel!</h1>
  <p class="lead">Multiplayer {{title}} nu beschikbaar!</p>
  <hr class="my-4">
  {{#if username}}
    <p>Hallo, {{username}}.</p>
  {{else}}
    <p>Maak vandaag nog een account aan!</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Inschrijven</a>
  {{/if}}
</div>
{{> footer}}