 <div class="spacer"></div>

<div class="jumbotron">
  <h1 class="display-4">Rikken, het spel!</h1>
  <p class="lead">Multiplayer Rikken nu beschikbaar!</p>
  <hr class="my-4">
  <p>Maak vandaag nog een account aan!</p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Inschrijven</a>
</div>
{{> footer}}