<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <p id='info'>Informatie wordt hier getoond.</p>
    </div>
    <script src='/js/info.js'></script>
    {{{body}}}
    <script src="js/Card.js"></script>
    <script src="js/CardHolder.js"></script>
    <script src="js/Player.js"></script>
    <script src="js/RikkenTheGameProxy.js"></script>
    <script src="js/client.js"></script>  
  </body>
</html>
