<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="{{google_app_client_id}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/auth.css'/>
    {{!-- <link rel='stylesheet' href='/stylesheets/nav.css'/> --}}
    <link rel='stylesheet' href='/stylesheets/newfooter.css'/>
    <link rel='stylesheet' href='/stylesheets/newheader.css'/>
    {{!-- <link rel='stylesheet' href='/stylesheets/private.css'/> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/gameplaying.css'/>
</head>
{{!-- MDH@13FEB2020: use 3 rem at the top for the header and 2 rem at the bottom for the footer --}}
<body style='padding-top:2.7rem;padding-bottom:2rem'>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>