<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
{{!-- use 3 rem at the top for the header and 2 rem at the bottom for the footer --}}
<body style='padding-top:3rem;padding-bottom:2rem'>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>