<div style="background:rgba(255,255,255,0.8)">
    <p>Alleen de door jou opgegeven gebruikersnaam en e-mail adres worden opgeslagen, alsook de spelresultaten.</p>
    <p>Meldt je je aan via Google of Facebook dan registreren we het e-mail adres dat Google of Facebook kent.</p>
    <p>Je e-mail adres wordt gebruikt om uitnodigingen van andere spelers naar je toe te sturen, maar zonder je e-mail adres bekend te maken bij andere spelers.</p>
    <p>In je profiel kun je zien welk e-mail adres daarvoor gebruikt wordt, en het zonodig wijzigen.</p>
    <p>Een officiele verklaring in het Engels van ons privacy beleid vind je <a href='https://www.freeprivacypolicy.com/privacy/view/efef24d419c7a0b8f4543650ad8efb69' target='_blank'>hier</a>.</p>
</div>