.loginform {
  margin: 2em;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 30%;
  max-width: 40%;
  background-color: rgb(26, 114, 92);
  color:whitesmoke;
}

.fields{
  display: flex;
  flex-direction: column;
 
}

.field {
  margin: 0.5em 0;
  border: none;
  height: 2em;
  border-radius: 4px;
}

.submitbutton {
  border-radius: 4px;
  margin: 0.5em 0;
  border: none;
  padding: 0.4em 1em;
  
} 

#google > a {
  border-radius: 4px;
  margin: 0.5em 0;
  border: none;
  padding: 0.4em 1em;
  color: black;
}

#glink:hover {
  text-decoration: none;
  color: black;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  color: whitesmoke !important;
}

.password {
  color:whitesmoke !important;
}

/* MDH@13FEB2020: some additional stuff */
.error-message {
  color:red;
}

/* .checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.checkbox-label input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
} */