header{
    /* padding-top:0.9rem; */
    padding-left:0.4rem;
    z-index:999;
    height:2.7rem;
    position:fixed;
    top:0;
    width:100%;
    border-bottom:1px solid purple;
    background:rgb(202, 46, 202);
    color:white;
    font-size:1.5rem;
}

header .menu{
    position:absolute;
    top:0;
    right:0;
}

header a{
    color:inherit;
    margin:0px 5px;
}