/*
*/
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: gray;
    font-size:16px;
}

#info {
    background:white;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
}

.prompt {
    font-size:2em;
}

input[type=button] {
    font-size:2.5em;
}

.pages {
    color:#333;
}

.trick {
    height:100px;
}

.page {
    /* every page should be positioned relative to the parent in the top-left corner */
    position:absolute;
    x:0;
    y:0;
    width:100%;
}

/* page-button-groups to show in the right top corner */
.page-button-group {
    position:absolute;
    top:2rem;
    right:2rem;
    margin:auto;
    font-size:2rem;
}

/* h1 is used for page titles */
.page-title{
    font-size:2rem;
}

/* setup rules page */
/*
#page-rules {
    background:black;
}
*/

/* setup game page */
/*
#page-setup-game {
    background:black;
}
*/
.player-name {
    width:100%;
}
.player-name input{
    text-align:center;
    width:200px;
    height:40px;
}

/* bidding page */
.pas{
    color:grey;
}
.rik{
    color:green;
}
.solitary{
    color:blue;
}
/*
#page-bidding {
    background:black;
}
*/

/* show the bids buttons in a row wrapping to the next line if possible */
.bid-buttons{
    display:flex;
    flex-wrap:wrap;
}

.bid input[type=button] {
    margin:10px;
    padding:5px;

}

/* playing page */
.trump .diamond,.heart{
    color:purple;
}
.diamond,.heart{
    color:red;
    font-size:1.2rem;
}
.trump .club,.spade {
    color:blue;
}
.club,.spade {
    color:black;
    font-size:1.2rem;
}
.card{
    font-size:1.2rem;
}
.partner{
    color:green;
}
.trick-cards{
    margin:0 1rem;
}
.game-info{
    margin:0 10px;
}
.trick-info{
    display:flex;
    flex-direction: column;
}
/*
#page-playing {
    background:black;
}
*/
/*
.playablecard {
    margin:4px;
    padding:4px;
}
*/

/* playing finished page */
#page-finished {
    background:blue;
}

/* COLLAPSABLE BID CARDS (source: https://www.w3schools.com/howto/howto_js_collapsible.asp) */
/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-bid-button, .collapsible-button:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
#bidder-suitecards {
  padding: 0 18px;
  /* display: none; */
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible-button:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active-bid-button:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
